@font-face {
  font-family: "Shapiro";
  font-weight: normal;
  src: url("/fonts/Shapiro-45-Welter-Text.woff") format("woff"),
    url("/fonts/Shapiro-45-Welter-Text.ttf") format("ttf");
}

@font-face {
  font-family: "Shapiro";
  font-weight: bold;
  src: url("/fonts/Shapiro-75-Heavy-Text.woff") format("woff"),
    url("/fonts/Shapiro-75-Heavy-Text.ttf") format("ttf");
}

@font-face {
  font-family: "Shapiro Wide";
  font-weight: normal;
  src: url("/fonts/Shapiro-65-Light-Heavy-Wide.woff") format("woff"),
    url("/fonts/Shapiro-65-Light-Heavy-Wide.ttf") format("ttf");
}

@font-face {
  font-family: "Shapiro Wide";
  font-weight: bold;
  src: url("/fonts/Shapiro-85-Super-Heavy-Extd.woff") format("woff"),
    url("/fonts/Shapiro-85-Super-Heavy-Extd.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: Shapiro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 26px;
}
